<div class="container">

    <form action="" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h2 style="margin-left:20px">Add User</h2>

    <div class="add-item">

        <label for="">Name</label>

        <input type="text" formControlName="name">
    </div>

    <div class="add-item">

        <label for="">Email</label>

        <input type="text"  formControlName="email">
    </div>

    <div class="add-item">

        <label for="">Password</label>

        <input type="password" formControlName="password">
    </div>

    <div class="add-item">

        <label for="">Confirm Password</label>

        <input type="password" formControlName="cpassword">
    </div>

  <div class="add-item">

        <label for="">Role</label>

        <select name="" id="" (change)="selectRole($event)" selected>

            <option value="admin">Admin</option>
            <option value="client">Client</option>
        </select>
    </div>


    <button style="margin-left:20px" [disabled]="!form.valid">Submit</button>
</form>
</div>
