<div class="wrapper">
  <div class="container">
    <div class="header">
      <a style="text-decoration : none" herf="https://www.tuntrust.tn/fr/documents-utiles?field_theme_target_id=57"><span class="medical">Ressources</span></a>
      <a style="text-decoration : none" herf="https://www.tuntrust.tn/fr/content/contactez-nous"><span class="medical">Contact</span></a>
      <span class="medical">S'inscrire</span>
      <span class="medical" (click)="showLogin('open')">Se Connecter</span>
      <span class="logo_tun">
        <img src="../../../assets/logo.png" alt="logo" style="width: 350px; height : 70px"/>
      </span>
    </div>

    <div class="body">
      <div class="quote">
        <!-- <span>Our Hospital will restore your Health very fast.</span> -->
      </div>

      <!-- <span class="customer">1000+ Customers</span> -->
      <!-- <div class="logo">
        <span>Vigen Medics</span>
      </div> -->
    </div>
  </div>

  <div class="aboutus">
    <div class="about-header">
      <img src="../../../assets/info.jpg" alt="" style="height: 135px; width: 125px;">
      <!-- <span>A Propos</span> -->
    </div>

    <div class="needle-image">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12763.412446194592!2d10.1900556!3d36.8938621!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12e2cb7300ec8f45%3A0xa54ad8365b576b05!2sAgence%20nationale%20de%20certification%20%C3%A9lectronique%20TUNTRUST!5e0!3m2!1sfr!2stn!4v1714317352527!5m2!1sfr!2stn" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div class="about-detail">
      <h1>Presentation</h1>
      <span class="detail">
         En Tunisie, l'intérêt pour le commerce électronique a émergé en 1997, avec la création d'une commission pour élaborer les stratégies du commerce et du gouvernement électroniques. Cela a conduit à l'adoption de la loi n° 2000-83 en 2000 et à la création de TUNTRUST pour la certification électronique.  
      </span>
    </div>
  </div>

  <div class="teams">
    <div class="teams-header">
      <h1 style="font-size : 25px; color: blue"><b>NOS PRODUITS</b></h1>
    </div>

    <div class="teams-details">
      <div class="teams-container">
        <!-- <img src="../../../assets/phone.jpg"
          alt=""
        /> -->
        <br>
        <img src="../../../assets/pdt1.png" alt="" style="height: 85px; width: 85px;">
        <h5>
          <b style="font-size : 30px;">
            Certificat ID-Trust
          </b>
        </h5>
        <br>

          <span>
            Le certificat ID-Trust délivré par l'agence nationale de certification électronique TUNTRUST est votre carte d’identité numérique sur Internet. Ce certificat a un double usage : Il vous permet d’apposer votre signature électronique sur les documents électroniques pour manifester votre consentement par rapport au contenu de l’acte signé. Il permet également de vous authentifier auprès des plateformes de services à distance pour effectuer vos transactions en ligne en toute sécurité, par exemple envoyer un émail sécurisé, émettre un virement bancaire, accéder au site de la télé-déclaration fiscale, etc.
          </span>
      </div>

      <div class="teams-container">
        <img src="../../../assets/pdt3.png" alt="" style="height: 105px; width: 105px;">
        <h5>
          <b style="font-size : 30px;">
             Certificat ID-TrustCachet <br><br> électronique Enterprise-ID
          </b>
        </h5>
        <br>
        <span>
          Le cachet électronique Enterprise-ID permet d’apposer une signature au nom d’une personne morale en identifiant clairement sa raison sociale, son matricule fiscal, etc. Le cachet électronique de votre entreprise permet d’assurer l’intégrité et l’authenticité des documents numériques de votre entreprise.

Le cachet électronique Enterprise-ID peut être utilisé pour la dématérialisation des procédures administratives, il permet de sceller vos documents numériques tels que les factures, les bulletins de paie, etc. Il peut également être utilisé pour la conservation sécurisée de vos documents.
        </span>
      </div>

      <div class="teams-container">
        <img src="../../../assets/pdt2.png" alt="" style="height: 105px; width: 105px;">
        <h5>
          <b style="font-size : 30px;">
            Cachet électronique visible <br><br>TN CEV 2D-DOC
          </b>
        </h5>
        <br>
        <span>
          Le cachet électronique visible TN CEV 2D-DOC permet d’assurer l’intégrité et l’authenticité de vos documents électroniques et papier en y apposant un code à barre à deux dimensions (QR code) contenant les informations clés de vos documents verrouillées par le cachet électronique de l'entité émettrice.

Le certificat TN CEV 2D-DOC est utilisé avec la solution QR-Sign de l'agence nationale de certification électronique TUNTRUST pour créer un QR Code signé qui vous permettra de sécuriser vos documents originaux ou photocopiés contre la fraude. Ainsi vous pouvez sécuriser des documents tels que les bulletins de paie, les diplômes, les factures…
        </span>
      </div>

      <div class="teams-container">
        <img src="../../../assets/pdt4.png" alt="" style="height: 105px; width: 105px;">
        <br>
        <h5>
          <b style="font-size : 30px;">
            Certificat signature de Code
          </b>
        </h5>
        <br><br><br>
        <span>
          Le certificat signature de code de l'agence nationale de certification électronique TUNTRUST assure l’authenticité, la sécurité et l’intégrité d’un code signé.

La signature de code vérifie l'identité de l'émetteur d'un jeu de codes spécifique, et atteste qu'il n'a pas été modifié depuis sa signature. Elle permet également d'assurer la protection de vos utilisateurs, de votre marque et de votre propriété intellectuelle.
        </span>
      </div>
   
 
</div>
  <div class="footer">
    <div class="find-us">
      <span class="contact"><b>NOUS CONTACTER :</b></span>
        <span>
          <a href="https://www.facebook.com/tuntrustTN/ " target="_blank">
          <img src="../../../assets/fb.png" alt="" style="height: 30px; width: 30px;">
          &nbsp;</a>
        </span>
        <span>
          <a href="https://twitter.com/tuntrust_TN" target="_blank">
          <img src="../../../assets/tw.png" alt="" style="height: 30px; width: 30px;">
          &nbsp;</a>
        </span>
        <span>
          <a href="https://www.youtube.com/channel/UCxqsed-k0CbzOCva_VEjelQ" target="_blank">
          <img src="../../../assets/yt.png" alt="" style="height: 30px; width: 30px;">
          &nbsp;</a>
        </span>
        <span>
          <a href="https://www.linkedin.com/in/tuntrust-tn-5b7120160/" target="_blank">
          <img src="../../../assets/in.png" alt="" style="height: 30px; width: 30px;">
          </a>
        </span>
    </div>
    <span class="footer-logo">Tun Trust</span>
    <span class="made-by">&copy; 2024 Reserved. All rights reserved.</span>
  </div>

<form #form="ngForm" (ngSubmit)="onSubmit()">

<div class="login-container" *ngIf="login" >

   

    <div class="login-wrapper" >

        <span class="close" (click)="showLogin('close')">X</span>
        <div class="login-input">

            <h1>S'authentifier</h1>

            <input type="text" placeholder="Enter Login" ngModel name="login" login required #login="ngModel">
            <input type="password" placeholder="Enter Password" ngModel name="password" required #password="ngModel">
            <button class="btn-login medical"  [disabled]="!form.valid">Login</button>

        </div>

    </div>

</div>
</form>