<div class="teams-header">
  <h1 style="font-size : 25px; color: rgb(50, 50, 124)"><b>DEMANDES</b></h1>
</div>
<div class="wrapper">
  <div class="container">
    <div class="patient-header">
      <span style="position: relative; right : 50px">Certificat</span>

      <span style="position: relative; right : 50px">First Name</span>

      <span style="position: relative; right : 60px">Last Name</span>

      <span style="position: relative; right : 50px">Email</span>

      <span style="position: relative; left : 0px">CIN</span>

      <span style="position: relative; left : 30px">GSM</span>

      <span style="position: relative; left : 70px">Date</span>

      <span style="position: relative; left : 100px">Duration</span>

      <span style="position: relative; left : 100px">Accept</span>

      <span style="position: relative; left : 60px">Reject</span>
    </div>


    <div class="orders-body" *ngIf="certifs">
      <div *ngIf="certifs.length; else noCertif">
        <div
          class="patient-body"
          *ngFor="
            let certif of certifs | paginate: { itemsPerPage: 5, currentPage: p }
          "
        >
          <div class="patient-container">
            <span class="data">{{certif.certificat}}</span>

            <span class="data">{{certif.nom}}</span>

            <span class="data">{{certif.prenom}}</span>

            <span class="data">{{certif.email}}</span>
            
            <span class="data">{{certif.cin}}</span>
            
            <span class="data">{{certif.gsm}}</span>

            <span class="data">{{certif.date | date:'dd/MM/yyyy'}}</span>

            <span class="data">{{certif.duree}}</span>

            <span class="u-diagnosis data" (click)="showAdd1(certif._id)">Accept</span>

            <span class="add-diagnosis data" (click)="showAdd(certif._id)">Reject</span>
          </div>
        </div>
      </div>
      <pagination-controls
      (pageChange)="p = $event"
      class="pagination"
    ></pagination-controls>
     
    </div>

    
  </div>

  <ng-template #noCertif>
    <h1>No Demande</h1>
  </ng-template>

  <div class="treatment" *ngIf="close">
    <div class="add-treatment">
      <div class="delete-item">
        <span>Are you sure you want to reject this demande?</span>

        <div class="delete-cancel">
          <button class="cancel" (click)="showAdd(1233)">Cancel</button>

          <button class="delete" (click)="deleteCertif()">Delete</button>
        </div>

      </div>
    </div>
  </div>

  <div class="treatment" *ngIf="close1">
    <div class="add-treatment">
      <div class="delete-item">
        <span>Are you sure you want to accept this demande?</span>

        <div class="delete-cancel">
          <button class="cancel" (click)="showAdd1(1233)">Cancel</button>

          <button class="delete" style="background-color: green;" (click)="acceptCertif()" >Accepte</button>
        </div>

      </div>
    </div>
  </div>
</div>