<div class="charts">

    <div class="pie" [chart]="donutChart">
   
    </div>
  
    <div class="line" [chart]="lineChart"></div>

  </div>
  
<div class="feeds">

    <div class="newuser">

        <h2>Available Certif</h2>

        <ol>
            <li>SSL-Cachet</li>

            <li>ID-Trust</li>

            <li>SAN-SSL</li>

            <li>VPN</li>
        </ol>

    </div>

    <div class="newuser">

        <h2 *ngIf="certifs.length; else noCertif">Requests</h2>

        <div *ngFor="let certif of certifs">
            <div class="request-item">
                <span>{{certif.nom}}</span>
                <button routerLink="/admin/demandes">Check</button>
            </div>
        </div>
        <ng-template #noCertif>
            <h1>No Request</h1>
        </ng-template>
    </div>
</div>